<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{picked}} 픽된 메뉴입니다.
  {{picked|length}}글자 수는 이거입니다.
  <ul>
    {% for food in foods %}
      <li>{{food}}</li>
    {% endfor %}

    {% if picked|length == 0 %}
      <p>재료가 소진되었습니다.</p>
    {% else %}
      <p>메뉴가 있습니다.</p>
    {% endif %}
  </ui>

  <h1>딕셔너리로 받는 부분</h1>
  {{goods_pick}}
  {% for item in pickes_good %}
    <li>{{item}}</li>
  {% endfor %}
</body>
</html>
